.arena-grid {
    display: grid;
    grid-template-rows: 70vh 30vh;
}

.arena-view {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 250px auto 250px;
}

.menu-view {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 150px 200px 1fr;
}

.menu-view .actions {
    display: grid;
    grid-template-rows: 40px 40px 40px 40px 1fr;
    grid-row-gap: 5px;
    grid-column: 1 / 2;
}

.menu-view .own-stats {
    grid-column: 2 / 3;
}

.menu-view .opponent-stats {
    grid-column: 3 / 4;
}