<div class="unit-view">
  <ability-selection class="actions" [actionList]="unit.abilities" (actionTaken)="takeAction($event)">
  </ability-selection>
  <div class="unit-stats">
    <span class="player-name">{{unit.name}}</span><br/>
    <span *ngIf="unit.hp > 0">HP: {{unit.hp}}/{{unit.maxHp}}</span>
    <span *ngIf="unit.hp <= 0">Defeated</span>
    <ng-container *ngIf="unit.conditions && unit.hp > 0">
      <span *ngFor="let condition of unit.conditions">{{condition.name}}</span> <br />
    </ng-container>
    <initative-gauge class="gauge-area" #initative (timer)="updateTimer($event)" [setTimer]="setTimer"></initative-gauge>
  </div>
  <div>
    <button mat-button color="primary" [disabled]="!lockedAction || this.isLocked" (click)="lockAction()">
      {{timerVal <= 5000 ? 'Lock' : 'Take'}} Action{{lockedAction ? ': ' + lockedAction : ''}}
    </button>
  </div>
</div>
